body {
  background-color: #505050;
  color: floralwhite;
  font: 30px Trebuchet, sans-serif;
}

.center {
  margin: auto;
  width: 50%;
}

legend {
  background-color: gray	;
  border-radius: 5px;
  padding: 5px;
}

fieldset {
  margin: 20px;
  background-color: #606060	;
  border-radius: 5px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.70), 0 17px 50px 0 rgba(0,0,0,0.70);
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}